@model backStage.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-2">會員資料</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberIntroSelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberIntroSelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberImg)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.MemberImg" alt="會員圖片" width="200"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberPermission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberPermission)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.MemberId">編輯</a>
    <a class="btn btn-secondary ms-3" asp-action="Index">上一頁</a>
</div>
