@model backStage.Models.Movie

@{
    ViewData["Title"] = "電影細項";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterPicture)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.PosterPicture" alt="海報" style="max-width: 200px" title="" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieNameChinese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieNameChinese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieNameEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieNameEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieRatingId)
        </dt>
        <dd class = "col-sm-10">
            @Model.MovieRating?.Description (@Model.MovieRating?.RatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Model.Duration 分鐘
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUpcoming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUpcoming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNowShowing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNowShowing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distributor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distributor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailerUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailerUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxOffice)
        </dt>
        <dd class = "col-sm-10">
            @Model.BoxOffice.ToString("N0")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.MovieId"><i class="fa-solid fa-user-pen"></i> 編輯</a> |
    <a asp-action="Index" class="btn btn-secondary">取消</a>
</div>
