@model IEnumerable<backStage.Models.Movie>

@{
    ViewData["Title"] = "電影清單";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-film"></i> 電影新增</a>
</p>
<div>
    <table id="moviesTable" style="min-width:1200px" 
            class="table movie-table table-hover table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>編號</th>
            <th>
                海報
            </th>
            <th>
                中文片名
            </th>
            @* <th>
                英文片名
            </th> *@
            <th>
                類型
            </th>
            <th>
                分級
            </th>
            <th>
                片長
            </th>
            <th>
                上映日期
            </th>
            @* <th>
                下檔日期
            </th> *@
            @* <th>
                已上映
            </th> *@
            @* <th>
                即將上映
            </th> *@
            @* <th>
                現正熱映
            </th> *@
            @* <th>
                已下檔
            </th> *@
            <th>
                導演
            </th>
            <th>
                主演
            </th>
            @* <th>
                製作商
            </th> *@
            <th>
                發行商
            </th>
            <th>
                國家
            </th>
            @* <th>
                劇情
            </th>
            <th>
                預告片
            </th>
            <th>
                點閱次數
            </th>
            <th>
                票房
            </th> *@
        </tr>
    </thead>

    @{
        int rowNumber = 1;
    }
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.MovieId"> <i class="fa-solid fa-user-pen"></i>編輯</a>
                <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.MovieId"><i class="fa-solid fa-database"></i> 細項</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.MovieId"><i class="fa-solid fa-trash"></i> 刪除</a>
            </td>
            <td>@rowNumber</td>
            <td>
                <partial name = "_ShowPicturePartial" model="@item" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieNameChinese)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.MovieNameEnglish)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @item.MovieRating?.Description (@item.MovieRating?.RatingCode)
            </td>
            <td>
                @item.Duration 分鐘
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.IsReleased)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.IsUpcoming)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.IsNowShowing)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.IsEnded)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starring)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Production)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Distributor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Plot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @item.BoxOffice.ToString("N0")
            </td> *@
        </tr>
                rowNumber++;
}
    </tbody>
</table>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
}
@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#moviesTable').DataTable({
          language: {
            url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/zh-HANT.json',
          },
          paging: true,
          searching: true,
          ordering: true,
          order: [],
          lengthMenu: [20, 40, 60, 80, 100]
        });
      });
    </script>
}
